<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<h3>{{{viewTitle}}}</h3>
<!-- Fixed Sidebar Left -->

<!-- Top Header-Profile -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">

					<div class="top-header-thumb">
						<img src="img/top-header1.jpg" alt="nature">
					</div>

					<div class="profile-section">

						<div style="display:none" class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="02-ProfilePage.html" class="active">Timeline</a>
									</li>
									<li>
										<a href="05-ProfilePage-About.html">About</a>
									</li>
									<li>
										<a href="06-ProfilePage.html">Friends</a>
									</li>
								</ul>
							</div>

							<div style="display:none" class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="07-ProfilePage-Photos.html">Photos</a>
									</li>
									<li>
										<a href="09-ProfilePage-Videos.html">Videos</a>
									</li>
									<li>
										<a href="09-ProfilePage-Videos.html"></a>
									</li>
								</ul>
							</div>

						</div>

						<div class="control-block-button">

							
							<span class="notification-icon" id="accept-or-reject-span" style="display:none">
							
								<a href="#" class="accept-request" id="accept-request-btn">
									<span class="icon-add">
										<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/	icons.svg#olymp-happy-face-icon"></use></svg>
									</span>
									Accept
								</a>
				
								<a href="#" class="accept-request request-del" id="reject-request-btn">
									<span class="icon-minus">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>		
									</span>
									Reject
								</a>
							</span>
							
							<span class="notification-icon" id="send-request-span" style="display:none">
							
								<a href="#" class="accept-request" id="send-request-btn">
									<span class="icon-add">
										<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/	icons.svg#olymp-happy-face-icon"></use></svg>
									</span>
									Send Request
								</a>
							</span>


							<span class="notification-icon" id="request-sent-cancel-span" style="display:none">
							
								<a href="#" class="accept-request" id="request-sent-btn">
									<span class="icon-add">
										<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/	icons.svg#olymp-happy-face-icon"></use></svg>
									</span>
									Request Sent
								</a>
				
								<a href="#" class="accept-request request-del" id="cancel-request-btn">
									<span class="icon-minus">
											<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>		
									</span>
									Cancel
								</a>
							</span>

							<div class="btn btn-control bg-primary more" id="edit-photos-div" style="display:none">
							
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Cover Photo</a>
									</li>
								</ul>
								
							</div>

						</div>
						
					</div>

					<div class="top-header-author">
						<a href="uploads/profile_pic/{{pic}}" class="author-thumb">
							
								<img src="uploads/profile_pic/{{pic}}" alt="author" style="width:124px;height:124px">
							
						</a>
						<div class="author-content">
							<a href="" class="h4 author-name">{{userfirstName}}</a>
							<div class="country">{{userName}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->
<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div id="newsfeed-items-grid">

				<div class="ui-block">

					{{#each postsArray}}

				<div class="ui-block form-group ">
					<br>
					<div >
						<div class="author-thumb">
							<img style="width:28px;height:28px" src="uploads/profile_pic/{{../pic}}" alt="author">
						</div>
						<a class="h6 post__author-name fn" href="/{{../userid}}">{{../userfirstName}}</a>

						<div name="caption"> {{caption}} </div>
						<div name ="uploads"> <img src="uploads/newfeeds_pic/{{file}}" alt=""></div>
					</div>

					{{#each comments}}
						<div style="white-space:normal" class="post__author author vcard inline-items talk-bubble round">
							<img src="uploads/profile_pic/{{commenterPic}}" alt="author" class="avatar">
							<p><a class="h6 post__author-name fn" href="/{{commenterUid}}">{{commenterName}}</a></p>
							<p style="color:rgb(0, 0, 0)">{{text}}</p>
							{{!-- <div class="form-group with-icon-right ">
								<div class="add-options-message">
									<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
										<svg class="olymp-camera-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
										</svg>
									</a>
								</div>
							</div> --}}
						</div>
					{{/each}}	


					<!-- Comment Form  -->
					
					<form action="/comment" method="POST" class="comment-form inline-items">
						<div>
						<div class="post__author author vcard">
							<img style="width:28px;height:28px" src="uploads/profile_pic/{{../sesspic}}" class="avatar" alt="author">
							<a class="h6 post__author-name fn" href="/{{../id}}">{{../firstName}}</a>
							</div>
							<div class="form-group with-icon-right ">
								<textarea id="comment-text" name="commentText" class="form-control" placeholder=""></textarea>
							</div>
							<input style="display:none" type="text" name="commenterName" value="{{../firstName}}" />
							<input style="display:none" type="text" name="commenterUid" value="{{../id}}" />
							<input style="display:none" type="text" name="commenterPic" value="{{../sesspic}}" />
							<input style="display:none" type="text" name="postId" value="{{_id}}" />
						</div>
					
						<button type="button" id="check-positive" class="btn btn-sm-1 btn-border-think c-grey btn-transparent custom-color">Check</button>
						<button class="btn btn-sm-3 btn-primary">Post Comment</button>
					</form>
					
					<!-- ... end Comment Form {}  -->

				</div>

				{{/each}}


				</div>

			</div>

		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Personal-Info -->
					<form>
					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">About Me:</span>
							<span class="text">Hi, I’m {{userfirstName}}, I’m 21 and I work as a Developer for this project.</span>
						</li>
						<li>
							<span class="title">Favourite TV Shows:</span>
							<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
						</li>
						<li>
							<span class="title">Favourite Music Bands / Artists:</span>
							<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</span>
						</li>
					</ul>
					<a href="#" class="social-item bg-dribbble"> Update Intro </a>
					</form>
					<!-- .. end W-Personal-Info -->
					<!-- W-Socials -->
					
					<div class="widget w-socials">
						<h6 class="title">Other Social Networks:</h6>
						<a href="#" class="social-item bg-facebook">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
							Facebook
						</a>
						<a href="#" class="social-item bg-twitter">
							<i class="fab fa-twitter" aria-hidden="true"></i>
							Twitter
						</a>
						
					</div>
					
					
					<!-- ... end W-Socials -->
				</div>
			</div>
			</div>
		


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				{{!-- <div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Latest-Photo -->
					
					<ul class="widget w-last-photo js-zoom-gallery">
						<li>
							<a href="img/last-photo10-large.jpg">
								<img src="img/last-photo10-large.jpg" alt="photo">
							</a>
						</li>
						
					</ul>
					
					
					<!-- .. end W-Latest-Photo -->
				</div> --}}
			</div>

			
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friends ({{frnds.length}})</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Faved-Page -->
					
					<ul class="widget w-faved-page">
						{{#each frnds}}
							<li>
								<a href="/{{_id}}">
									<img title="{{firstName}}" style="width:28px;height:28px" src="uploads/profile_pic/{{profilePic}}" alt="author">
								</a>
							</li>
						{{/each}}						
					</ul>
					
					<!-- .. end W-Faved-Page -->
				</div>
			</div>

			

		<!-- ... end Right Sidebar -->

	</div>


<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<a href="#" class="upload-photo-item">
				<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>

				<h6>Upload Photo</h6>
				<span>Browse your computer.</span>
			</a>

				<a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

			<svg class="olymp-photos-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>

			<h6>Choose from My Photos</h6>
			<span>Choose from your uploaded photos</span>
		</a>
			</div>
		</div>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->

<!-- Window-popup Choose from my Photo -->

<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
	<div class="modal-dialog window-popup choose-from-my-photo" role="document">

		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Choose from My Photos</h6>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
							<svg class="olymp-photos-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
							<svg class="olymp-albums-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-albums-icon"></use></svg>
						</a>
					</li>
				</ul>
			</div>

			<div class="modal-body">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

						<div class="choose-photo-item" data-mh="choose-item">
							<div class="radio">
								<label class="custom-radio">
									<img src="img/choose-photo1.jpg" alt="photo">
									<input type="radio" name="optionsRadios">
								</label>
							</div>
						</div>

						<a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="#" class="btn btn-primary btn-lg btn--half-width">Confirm Photo</a>

					</div>
					<div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

						<div class="choose-photo-item" data-mh="choose-item">
							<figure>
								<img src="img/choose-photo10.jpg" alt="photo">
								<figcaption>
									<a href="#">South America Vacations</a>
									<span>Last Added: 2 hours ago</span>
								</figcaption>
							</figure>
						</div>
						
						<a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancel</a>
						<a href="#" class="btn btn-primary btn-lg disabled btn--half-width">Confirm Photo</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- ... end Window-popup Choose from my Photo -->


<script>

	function comment(val) {
		console.log(val);
	}

	$(window).on('load',function() {
		console.log("Hello There");
		$.ajax({
			url: '/check-req-status',
			type: 'POST',
			data: { srcid: '{{id}}' , destid : '{{userid}}' },
			dataType: 'json',
			success: (data) => {
				if(data.status == 1) {
					console.log("Friends Hai..");
				}
				else if(data.status == -1) {
					$('#edit-photos-div').show();
				}
				else if(data.status == 0) {
					$('#send-request-span').show();
				}
				else if(data.status == 2) {
					$('#request-sent-cancel-span').show();
				}
				else if(data.status == 3) {
					$('#accept-or-reject-span').show();
				}
			}
		});
	});


	$('#cancel-request-btn').on('click',function() {
		var keyVal = { srcid: '{{id}}' , destid : '{{userid}}' };
		console.log('Hello There',keyVal);

		$.ajax({
			url : '/remove-friend-request',
			type : 'POST',
			data : keyVal,
			dataType : 'json',
			success : (data) => {
				console.log(data);
				$('#request-sent-cancel-span').hide();
				$('#send-request-span').show();
			}
		});
	});
	$('#reject-request-btn').on('click',function() {
		var keyVal = { srcid: '{{id}}' , destid : '{{userid}}' };
		console.log('Hello There',keyVal);

		$.ajax({
			url : '/remove-friend-request',
			type : 'POST',
			data : keyVal,
			dataType : 'json',
			success : (data) => {
				console.log(data);
				$('#accept-or-reject-span').hide();
				$('#send-request-span').show();
			}
		});
	});


	$('#accept-request-btn').on('click',function() {
		var keyVal = { srcid: '{{id}}' , destid : '{{userid}}' };
		console.log('Hello There',keyVal);

		$.ajax({
			url : '/accept-friend-request',
			type : 'POST',
			data : keyVal,
			dataType : 'json',
			success : (data) => {
				console.log(data);
				$('#accept-or-reject-span').hide();
			}
		});
	});

	$('#send-request-btn').on('click',function(){
		
		var keyVal = { srcid: '{{id}}' , destid : '{{userid}}' };
		console.log('Hello There',keyVal);

		$.ajax({
			url : '/friend-request',
			type : 'POST',
			data : keyVal,
			dataType : 'json',
			success : (data) => {
				console.log(data);
				$('#request-sent-cancel-span').show();
				$('#send-request-btn').hide();
			}
		});
	});

	$('#check-positive').on('click' , function() {
		keyVal = {comment: $('#comment-text').val()};
		console.log(keyVal);
		$.ajax({
			url : 'http://127.0.0.1:2000/check',
			type : 'POST',
			crossDomain: true,
			headers: {  'Access-Control-Allow-Origin': 'http://127.0.0.1:2000/check' },
			data : keyVal,
			dataType : 'json',
			success : (data) => {
				console.log(data.response);
				if(data.response == false) {
					alert("This comment is negative comment");
				}
				else if(data.response == true) {
					alert("This comment is positive comment");
				}
			}
		});
	});
</script>